DUCKDNS_TOKEN=
OTR_PASS=
HASS_TOKEN=
DISCORD_WEBHOOK_URL=
HARDCOVER_TOKEN=
HOMEPAGE_HASS_TOKEN=
PIHOLE_API_KEY=
CALIBRE_WEB_PASSWORD=
GRAFANA_WIDGET_PASSWORD=
PORTAINER_API_KEY=
OPENWEATHERMAP_API_KEY=
WEATHERAPI_KEY=
