# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.0.0.0/8

#lovelace:
#  mode: yaml

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

sensor: !include sensor.yaml

binary_sensor:
  - platform: template
    sensors:
      washing_machine_status:
        friendly_name: "Stato operativo lavatrice"
        value_template: "{{ states('sensor.sensor.0xa4c138b68d2ecff7_power')| int(default=0) > 5 }}"
        device_class: power
        delay_on:
          seconds: 15
        delay_off:
          seconds: 15
  - platform: ping
    host: 8.8.8.8
    count: 2
    scan_interval: 60
    name: internet_connection

influxdb:
  host: 192.168.1.141
  port: 8086
  token: !secret influxdb_token
  organization: hass
  bucket: hass
  api_version: 2
  ssl: false
  max_retries: 3
  include:
    entities:
      - sensor.view_plus_carbon_dioxide

mqtt_statestream:
  base_topic: homeassistant
  publish_attributes: true
  publish_timestamps: true
  include:
    entity_globs:
      - sensor.view_plus*