#  When your config is ok comment block below to disable use of AMCE staging server
#{
#    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory 
#}

(https_header) {
  header {
    Strict-Transport-Security "max-age=31536000; includeSubdomains"
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
    Referrer-Policy "same-origin"
  }
}


https://giurrero.duckdns.org { 
  respond "Hello world!"
  file_server
}

https://giurrero.duckdns.org:7000 { 
  import https_header
  reverse_proxy http://192.168.1.141:8123
}
